<div class= "col-xs-10 col-xs-offset-1 about">
<h1>About Splurty</h1>

<p>
    Splurty was built by <a target="_blank" href="https://github.com/sahmad4">Salman</a> 
  </p>
  <br />
  <p>
    Salman Is new to to the developing world, and this was his first of Web Page launch.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%=image_tag 'Salman.jpg', class: 'img-responsive'%>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center"> Salman Ahmad</h2>
    <br />
    <p>
      Salman Ahmad is a currently a Student and is trying to break into the web developing world.
    </p>
  </div>

  <br class="clear" />
<br />
<br />
<br />
<br />


</div>